/* Importar las fuentes desde la carpeta local /fonts */

/*Readex Pro*/
@font-face {
    font-family: 'Readex Pro';
    src: url("/fonts/ReadexPro-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: 'Readex Pro';
    src: url("/fonts/ReadexPro-Light.ttf");
    font-weight: lighter;
}

@font-face {
    font-family: 'Readex Pro';
    src: url("/fonts/ReadexPro-Medium.ttf");
    font-weight: normal;
}

@font-face {
    font-family: 'Readex Pro';
    src: url("/fonts/ReadexPro-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: 'Readex Pro';
    src: url("/fonts/ReadexPro-SemiBold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: 'Readex Pro-ExtraLight';
    src: url("/fonts/ReadexPro-ExtraLight.ttf");
}

/*Jomhuria*/
@font-face {
    font-family: 'Jomhuria';
    src: url("fonts/Jomhuria-Regular.ttf");
}

/*Roboto*/
@font-face {
    font-family: 'Roboto';
    src: url("/fonts/Roboto-Black.ttf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url("/fonts/Roboto-BlackItalic.ttf");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url("/fonts/Roboto-Bold.ttf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url("/fonts/Roboto-Italic.ttf");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url("/fonts/Roboto-Light.ttf");
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url("/fonts/Roboto-LightItalic.ttf");
    font-weight: lighter;
    font-style: italic;
}

/*Resetear los elementos por defecto*/
h1,
h2,
h3,
h4,
div,
hr,
p,
header,
label,
input,
ul,
body,
html,
section,
article,
footer,
figure,
button {
    margin: 0;
    padding: 0;
}

/*Estilos básicos de la página*/
body {
    font-family: 'Readex Pro', sans-serif;
    background-color: #8D9BAC;

}

/*Centrado y ancho de contenedores de elementos*/
.contenedor {
    margin: 0 auto;
    width: 95%;
}

.clearfix {
    display: inline;
    visibility: hidden;
    clear: both;
}

/*Quitarle a los botones los estilos por defecto*/
button {
    border-style: none;
    background: none;
}

/*Cabecera menú de arriba*/
.cabecera {
    background-color: #0E3157;
    font-family: 'Jomhuria', sans-serif;
    color: white;
    height: 40px;
    text-align: center;
    padding: 16px 10px 5px 10px;
}


/*Hamburguesa botón menú desplegable*/
.cabecera > button:first-child img {
    width: 45px;
    height: 28px;
}

/*Poner en linea los elementos de la cabecera*/
.cabecera div {
    display: inline-block;
    width: 150px;
}

/*Logo Travelz*/
.cabecera div img {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-top: 3px;
    float: left;
    margin-left: -9px;
}

/*Texto: TRAVELZ*/
.cabecera div h1 {
    text-align: center;
    font-weight: 100;
    font-size: 64px;
    line-height: 45px;
}

/*Flotar imágenes cabecera*/
.cabecera button:first-child {
    float: left;
}

.cabecera button:last-child {
    float: right;
}

/*AHMED*/
@media screen and (min-width: 1024px) {}

@media screen and (min-width: 1366px) {}
@media screen and (max-width: 1919px) {
    .cabecera ul,li{
        display: none;
    }
}
@media screen and (min-width: 1920px) {
    .cabecera {
        background-color: #0E3157;
        font-family: 'Jomhuria', sans-serif;
        color: white;
        height: 125px;
        padding: 16px 10px 5px 10px;
    }
    .cabecera ul{
        width: 1204px;
        margin-top: 55px;
    }
    .cabecera ul,li{
        display: inline-block;
        height: 42px;
        padding-bottom: -10px;
    }
    .cabecera li{
        padding-right: 40px;
    }
    .cabecera li{
        list-style: none;
        margin-right: 40px;
        border-right: 3px solid #8D9BAC;
    }
    .cabecera li:last-child {
        border: none;
    }
    .cabecera li button{
        font-size: 36px;
        color: #8D9BAC;
        font-family:'Roboto', Arial, Helvetica, sans-serif ;
        font-weight: 700;
        
        
    }
    
    .cabecera ul + button img {
        width: 51px;
        height: 51px;
    }
    .cabecera  button img {
        padding-bottom: 5px;
        margin-left: 15px;
    }
    .cabecera ul + button img {
        margin: 35px 65px 0 0;
    }

    .cabecera > button:first-child{
        display: none;
    }

    /*Poner en linea los elementos de la cabecera*/
    .cabecera div {
        width: 444px;
        float:left;
        margin: 35px 0 0 10px;
    }

    /*Logo Travelz*/
    .cabecera div img {
        width: 59px;
        height: 59px;
        float: left;
        margin-left: 15px;
    }

    /*Texto: TRAVELZ*/
    .cabecera div h1 {
        font-weight: 100;
        font-size: 120px;
        line-height: 80px;
        float:left;
    }

}
