/* Importar las fuentes desde la carpeta local /fonts */

/*Readex Pro*/
@font-face {
    font-family: 'Readex Pro';
    src: url("/fonts/ReadexPro-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: 'Readex Pro';
    src: url("/fonts/ReadexPro-Light.ttf");
    font-weight: lighter;
}

@font-face {
    font-family: 'Readex Pro';
    src: url("/fonts/ReadexPro-Medium.ttf");
    font-weight: normal;
}

@font-face {
    font-family: 'Readex Pro';
    src: url("/fonts/ReadexPro-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: 'Readex Pro';
    src: url("/fonts/ReadexPro-SemiBold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: 'Readex Pro-ExtraLight';
    src: url("/fonts/ReadexPro-ExtraLight.ttf");
}

/*Jomhuria*/
@font-face {
    font-family: 'Jomhuria';
    src: url("fonts/Jomhuria-Regular.ttf");
}

/*Roboto*/
@font-face {
    font-family: 'Roboto';
    src: url("/fonts/Roboto-Black.ttf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url("/fonts/Roboto-BlackItalic.ttf");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url("/fonts/Roboto-Bold.ttf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url("/fonts/Roboto-Italic.ttf");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url("/fonts/Roboto-Light.ttf");
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url("/fonts/Roboto-LightItalic.ttf");
    font-weight: lighter;
    font-style: italic;
}

/*Resetear los elementos por defecto*/
h1,
h2,
h3,
h4,
div,
hr,
p,
header,
label,
input,
ul,
body,
html,
section,
article,
footer,
figure,
button {
    margin: 0;
    padding: 0;
}

/*Estilos básicos de la página*/
body {
    font-family: 'Readex Pro', sans-serif;
    background-color: #8D9BAC;

}

/*Centrado y ancho de contenedores de elementos*/
.contenedor {
    margin: 0 auto;
    width: 95%;
}

.clearfix {
    clear: both;
}

/*Cabecera menú de arriba*/
.cabecera {
    background-color: #0E3157;
    font-family: 'Jomhuria', sans-serif;
    color: white;
    height: 40px;
    text-align: center;
    padding: 16px 10px 5px 10px;
}

/*Quitarle a los botones los estilos por defecto*/
button {
    border-style: none;
    background: none;
}

/*Hamburguesa botón menú desplegable*/
.cabecera button:first-child img {
    width: 45px;
    height: 28px;
}

/*Poner en linea los elementos de la cabecera*/
.cabecera div {
    display: inline-block;
    width: 150px;
}

/*Logo Travelz*/
.cabecera div img {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-top: 3px;
    float: left;
    margin-left: -9px;
}

/*Texto: TRAVELZ*/
.cabecera div h1 {
    text-align: center;
    font-weight: 100;
    font-size: 64px;
    line-height: 45px;
}

/*Flotar imágenes cabecera*/
.cabecera button:first-child {
    float: left;
}

.cabecera button:last-child {
    float: right;
}

/*AHMED*/
@media screen and (min-width: 1024px) {
    /* .cabecera {
        background-color: aqua;
    } */
}

@media screen and (min-width: 1366px) {}

@media screen and (min-width: 1920px) {}

/*Buscador*/
.buscador {
    background-color: #C1846A;
    border-radius: 25px;
    margin-top: 20px;
    color: #0E3157;
    font-weight: bold;
    padding: 15px 0px;
}


.buscador a {
    color: #0E3157;
    font-weight: bold;
    text-decoration: none;
}

/*Botón de filtrar*/
.filtros img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.filtros {
    color: #0E3157;
    font-size: 14px;
    margin-bottom: 30px;
}

.filtros button {
    float: left;
}

.filtros span {
    font-size: 14px;
    color: #0E3157;
    font-weight: bold;
    margin-left: 10px;
}

.filtros div {
    float: right;
    line-height: 16px;
}

.separadorForm {
    display: none;
}

/*Formulario naranja de vuelos*/
.formulario div {
    font-size: 16px;
    padding: 10px;
}

.formulario .localizacion,
.formulario .checkin,
.formulario .checkout,
.formulario .viajeros {
    margin-left: 14px;
}

.formulario label {
    margin-top: 10px;
}

.formulario img {
    float: left;
    width: 40px;
    height: 50px;
    margin-right: 10px;
    margin-bottom: 5px;
}


.formulario img[alt="ubicacion"] {
    width: 38px;
    margin-right: 21.5px;
}

.formulario img[alt="calendario"] {
    width: 49px;
}

.formulario img[alt="monigote"] {
    width: 44px;
    margin-right: 15px;
}

/*Lineas separadores formulario vuelos*/
hr {
    width: 90%;
    border-color: #0E3157;
    margin-left: 17px;
}

/*Estilos formularios*/
.formulario input[type="text"] {
    border: none;
    background-color: transparent;
}

.formulario input::placeholder {
    font-size: 16px;
    font-family: Roboto;
    font-weight: bold;
    color: #0e31575b;
}

.formulario label {
    font-size: 14px;
}

.formulario button {
    background-color: #0E3157;
    color: white;
    border-radius: 25px;
    width: 265px;
    height: 32.06px;
    font-size: 26px;
    font-weight: bold;
    display: inline-block;
}

.formulario button img {
    width: 25px;
    height: 25px;
    margin-left: 42px;
    margin-right: -50px;
    margin-top: 2px;
}

.btnBuscar {
    text-align: center;
}

/*Estilo input tipo radio de opciones*/
.opcionales {
    margin-top: 12px;
    text-align: center;
}

.opcionales label {
    margin-left: 1%;
}

/*CHRISTIAN*/
@media screen and (min-width: 1024px) {

    /*Cabecera de filtros*/
    .filtros div {
        float: left;
        width: 50%;
    }

    .filtros div span {
        margin-right: 5%;
        margin-left: 5%;
    }

    .filtros button {
        float: right;
    }

    /*Formularios*/
    .separadorForm {
        display: block;
    }

    .formulario div {
        float: left;
    }

    .formulario hr {
        float: left;
        display: inline-block;
        margin-left: -40px;
        margin-top: 45px;
        width: 91.88px;
        transform: rotate(90deg);
    }

    .formulario .localizacion,
    .formulario .checkin,
    .formulario .checkout,
    .formulario .viajeros {
        margin-left: 0px;
    }
}

@media screen and (min-width: 1366px) {}

@media screen and (min-width: 1920px) {}

/*Cartas de viajes*/
.cards {
    margin-top: 30px;
}

.cardViaje {
    background-color: #d8b5ab;
    border-radius: 25px;
    padding-left: 1.5%;
    padding-right: 1.5%;
    overflow: auto;
    margin-bottom: 30px;
    padding-bottom: 5px;
}

.cardViaje:nth-of-type(2) {
    box-shadow: 2px 4px 5px #DE683C;
}

/*Descuento Madrid y Barcelona*/
.descuento {
    border-left: 34.5px solid #904214;
    border-right: 34.5px solid transparent;
    border-top: 34.5px solid #904214;
    border-bottom: 34.5px solid transparent;
}

.desc {
    transform: rotate(-45deg);
    text-shadow: 1px 1px 3px rgb(61, 61, 61);
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.desc20 {
    position: absolute;
    top: 571px;
    left: 3px;
}

.desc50 {
    position: absolute;
    top: 701px;
    left: 3px;
}

.desc20mad {
    position: absolute;
    top: 560px;
    left: 9px;

}

.desc50bcn {
    position: absolute;
    top: 682px;
    left: 9px;
}


.cardViaje img {
    float: left;
    border-radius: 25px;
    width: 113px;
    margin-top: 5px;
    height: 90px;
    margin-right: 10px;
}

.cardViaje button {
    float: right;
    width: auto;
    height: auto;
    padding-left: 1px;
    padding-right: 1px;
    line-height: 250%;
    border-radius: 15px;
    background-color: #904214;
    color: #d8b5ab;
    font-size: 16px;
    margin-top: 30px;
    font-family: "Readex Pro";

}

.cardViaje div {
    color: #0E3157;
    margin-top: 6px;
}

.cardViaje div h2 {
    margin-top: 20px;
    font-family: 'Jomhuria';
    font-size: 50px;
    font-weight: 400;
    line-height: 12px;
}

.cardViaje div p {
    font-family: 'Readex Pro';
    font-size: 11px;
}

.cardViaje div hr {
    width: 45%;
    margin-top: 4px;
}

.separadorFloat {
    clear: both;
    content: none;
}

.btnVerMas {
    font-family: "Readex Pro";
    font-size: 21px;
    font-weight: 600;
    background-color: #D8B5AB;
    color: #0E3157;
    width: 129px;
    height: 42px;
    border-radius: 20px;
    margin-left: 33%;
    margin-bottom: 30px;
}

/*DIEGO*/
@media screen and (min-width: 1024px) {
    /* .cardViaje {
        background-color: aqua;
    } */
}

@media screen and (min-width: 1366px) {}

@media screen and (min-width: 1920px) {}

/* Footer*/
.pie {
    padding: 20px;
    background-color: #0E3157;
    color: white;
    font-family: "Readex Pro-ExtraLight";
    font-weight: 600;
    letter-spacing: 2px;
}

.pie h3 {
    font-size: 28px;
}

.pie h3:last-of-type {
    margin-top: 30px;
}

.pie a {
    margin: 10px;
    text-decoration: none;
    font-size: 19px;
    color: white;

}

.contacto a {
    display: block;
    text-decoration: none;
    color: white;
}

.pie ul {
    float: right;
    list-style: none;
    margin-top: 60px;
}

.pie ul li img {
    width: 40px;
    padding: 7px;
}

/*IVAN*/
@media screen and (min-width: 1024px) {
    /* .pie {
        background-color: aqua;
    } */
}

@media screen and (min-width: 1366px) {}

@media screen and (min-width: 1920px) {}