/*MOBILE*/

/*Resetear todos los elementos usados a su valor por defecto*/
div, header, figure, img, h1, h2, h3
section, p, form, label, input, button,
article, hr, br, footer, a {
  margin: 0;
  padding: 0;
}

/*Ocultamos fotoHero salvo en Desktop*/
.fotoHero {
  display: none;
}

/*Barra navegadora superior/Cabecera*/
header {
  background-color: #0E3157;
}

header nav {
  
}




